* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #0a0f1e;
    font-family: Arial, sans-serif;
    color: #ffffff;
}
.hexagon-container {
    width: 250px;
    height: 280px;
    position: absolute;
    right: 100px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background: #00d4ff;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moveHexagon 30s infinite ease-in-out;
}
@keyframes moveHexagon {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    25% {
        transform: rotateX(200deg) rotateY(200deg);
    }
    50% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    75% {
        transform: rotateX(200deg) rotateY(200deg);
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg);
    }
}
.navbar {
    background-color: #04234b;
    padding: 15px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.menu-icon {
    background: #00d4ff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.menu-icon div {
    width: 25px;
    height: 4px;
    background: #ffffff;
    margin: 4px 0;
}
.contact-button {
    background: #00d4ff;
    color: #0a0f1e;
    padding: 8px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.content {
    top: 10px;
    background-color: #131a31;
    margin: 20px;
    padding: 50px;
    border-radius: 20px;
    min-height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar {
    background: #1b1f38;
    padding: 20px;
    width: 250px;
    position: absolute;
    top: 70px;
    left: -280px;
    border-radius: 10px;
    transition: left 0.1s ease;
    direction: none;
    z-index: 1;
}
.sidebar.active {
    left: 50px;
}
.sidebar div {
    background: #00d4ff;
    color: #0a0f1e;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
.sidebar a{
    text-decoration: none;
    color: #0a0f1e;
}
img.hex {
    width: 50%;
    object-fit: cover;
    border-radius: 10px;
}
img.logo {
    width: 300px;

}
div.box-deu{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 320px;
    background-color: #0a0f1e;
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
    margin: 10px;
    position: absolute;
    left: 100px;
}
img.eu{
    width: 300px;
    border-radius: 10px;
}
img.site-png{
    width: 320px;
}
.fts-site{
    display:flexbox;
    justify-content: space-around;
    flex-wrap: wrap; 
    width: 100%;
    justify-content: right;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.cabeçalho-main h1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:20px 0px 0px 0px;
}
.tex{
    width: 300px;

}
.tex p{
    width: 100%;
    justify-content: center;
    text-align: justify;
    margin:10px 0px 0px 0px;
}
.logozin{
    margin:20px;
    width: 100px;
}
.especialidades{
   background-color:#04234b ;
    width: 100%;
    height: 250px;
    text-align: center;
    justify-content: center;
    align-items:baseline ;
    margin-top:45px;
}
.especialidades h2{
    padding-top: 30px;
}
.especialidades .linha {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
}
.econter{
    display: flex;
    background-color: #04234b;
    width: 1685px;
    flex-direction: column;
    height: 740px;
    padding-top: 10px ;  
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 200px;
}
.dvd{
    display:flex;
}
.footer {
    background-color: #04234b;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position:fixed ;
    width: 100%;
    height: 70px;
    bottom: 0px;
   
}
.project h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.project h3{
    text-align: center;
    margin-bottom: 20px;
}
.project *{
    width: 60%;
    display: flex;
    text-align: justify;
    padding: 0px 0px 0px 80px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.project p{
    padding-bottom: 20px;

    
}
 .ppp{
    color: #00eaff;
    padding-left: 0px;
}
.obs{
    color: #ff0000;
    padding: 0px 25px 0px 0px;
    margin: 0px;
    font-size: 12px;
}
.btn-proj{
    background: #00d4ff;
    color: #0a0f1e;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.mtscis{
margin-right: 100px;
}
@media (max-width: 768px) {
    .hexagon-container {
        width: 100px;
        height: 110px;
        position: absolute;
        right: 50px;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        background: #00d4ff;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: moveHexagon 30s infinite ease-in-out;
        
    }
    @keyframes moveHexagon {
        0% {
            transform: rotateX(0deg) rotateY(0deg);
        }
        25% {
            transform: rotateX(200deg) rotateY(200deg);
        }
        50% {
            transform: rotateX(0deg) rotateY(0deg);
        }
        75% {
            transform: rotateX(200deg) rotateY(200deg);
        }
        100% {
            transform: rotateX(0deg) rotateY(0deg);
        }
    }
    div.box-deu{
        align-items: center;
        display: flex;
        justify-content: center;
        width: 10px;
        background-color: #0a0f1e;
        border-radius: 10px;
        margin-right: 190px;
        position: absolute;
    
    }
    img.eu{
        width: 100px;
        border-radius: 10px;
        margin-right: 100px;
    }
    .content {
        width: 100%;
        top: 10px;
        background-color: #131a31;
        margin: 0px;
        padding: 10px 0px 0px 0px;
        border-radius: 20px;
        position: relative;
        display: flex;
        justify-content: space;
        align-items: baseline;
    }
    .tex{
        width: 300px;
    }
    .tex p{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        margin:10px 0px 0px 0px;
        padding:150px 0px 0px 0px;
         
    }
    .especialidades{
        background-color:#04234b ;
         width: 100%;
         height: 580px;
         text-align: center;
         justify-content: center;
         align-items:baseline ;
         margin-top:45px;
     }
     
     .especialidades h2{
         padding-top: 30px;
     }
     .econter{
        display: block;
        flex-direction: column;
        background-color: #04234b;
        width: 100%;
        height: 1170px;       
        align-items: center;
        text-align: center;
        margin:80px 0px 75px 0px;
        border-radius: 10px;
    }
    img.logo {
        width: 140px;
    }
    .navbar {
        background-color: #04234b;
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }
    p{
        font-size: 12px;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 15px;
        text-align: center;
        
    }
    .project h2{
        font-size: 15px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .project h3{
        text-align: center;
        margin-bottom: 10px;
        font-size: 13px;
    }
    .project *{
        width: 90%;
        display: flex;
        text-align: justify;
        padding: 0px 0px 0px 40px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .project p{
        padding-bottom: 10px;
    
        
    }
    .mtscis{
        margin-right: 100px;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-left: 100px;
    }.fts-site{
        display:flexbox;
        justify-content: space-around;
        flex-wrap: wrap; 
        width: 100%;
        justify-content: right;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }
    .dvd{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }
        .btn-proj{
            margin-top: 25px;
            background: #00d4ff;
            color: #0a0f1e;
            padding: 8px 15px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            font-weight: bold;
        }
}